<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<meta http-equiv="imagetoolbar" content="no" />
<meta name="description" content="" />
<meta name="keywords" content="" />
<link rel="stylesheet" href="css/common.css" type="text/css" />
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="js/common.js"></script>
<title>あなたのサイト名などお書きください</title>
</head>
<body>
<div id="top">
   <div id="header">
      <h1><a href="index.html">SAMPLE TEMPLATE</a></h1>
   </div><!-- /#header -->
   <div id="menu">
      <ul>
         <li><a href="sample.html">MENU1</a></li>
         <li><a href="sample.html">MENU2</a></li>
         <li><a href="sample.html">MENU3</a></li>
         <li><a href="sample.html">MENU4</a></li>
         <li><a href="sample.html">MENU5</a></li>
         <li><a href="sample.html">MENU6</a></li>
      </ul>
   </div><!-- /#menu -->
   <div id="contents">
      <div id="main">
         <h2>管理人より</h2>
         <h3>テンプレートについて</h3>
         <p>
            こちらのsample.htmlはイメージ画像のないタイプです。<br />
            <a href="index.html">index.htmlを表示する。</a>
         </p>
      </div><!-- /#main -->
      <div id="sub">
         <div class="section">
            <h2>Category</h2>
            <ul>
               <li><a href="index.html">MENU1</a></li>
               <li><a href="index.html">MENU2</a></li>
               <li><a href="index.html">MENU3</a></li>
               <li><a href="index.html">MENU4</a></li>
               <li><a href="index.html">MENU5</a></li>
               <li><a href="index.html">MENU6</a></li>
            </ul>
         </div><!-- /.section -->
         <div class="section">
            <h2>Category</h2>
            <ul>
               <li><a href="index.html">MENU1</a></li>
               <li><a href="index.html">MENU2</a></li>
               <li><a href="index.html">MENU3</a></li>
               <li><a href="index.html">MENU4</a></li>
               <li><a href="index.html">MENU5</a></li>
               <li><a href="index.html">MENU6</a></li>
            </ul>
         </div><!-- /.section -->
      </div><!-- /#sub -->
   </div><!-- /#contents -->
   <div id="pageTop">
      <a href="#top">ページのトップへ戻る</a>
   </div><!-- /#pageTop -->
   <div id="footer">
      <div class="copyright">Copyright &copy; 2011 YOUR SITE NAME All Rights Reserved.</div>
   </div><!-- /#footer -->
</div><!-- /#top -->
</body>
</html>