  <h2>よくある質問</h2><br />
    <p class="title">
    Q1.なぜ参加費無料で開催できるのですか？
    </p>
      <p>
      まだまだ参加者が少なく、知り合いのみのイベントで、パーティールームを借りるための費用も少額なので、無料という形にさせていただきました。
      ただ、食べものやお酒の費用はかかってしまうため、ちょっとした気持ち(500円ほど)あるいは、お酒を適当に持参していただけると助かります。
      </p><br /><br />
    <p class="title">
    Q2.他のパーティーとの違いについて教えて下さい。
    </p>
      <p>
      パーティーラウンジはもちろんのこと、<br />
      挑み続けるあなたの心と身体をリフレッシュするフィットネスジムや<br />
      開放感で満たされる、二層吹抜のグランドエントランスホール、<br />
      穏やかな世界へ誘う、豊かな水を湛えるSPA、<br />煌めく東京を見晴らす、天空のVIEW LOUNGE & BAR<br />
      お客様におもてなしのひとときをオーナーズスイート〜和〜、〜シティ〜、〜リゾート〜<br />
      建物の1階に24時間営業のスーパー「マルエツ」<br />
      その他色々な施設があります。
      </p><br /><br />
    <p class="title">
    Q3.どの施設もいつでも誰でも自由に使えますか？
    </p>
      <p>
      主催者に許可をとってからお使いください。<br />
      イベントが終わった後に希望する方々みんなで行くという形になると思います。
      </p><br /><br />
    <p class="title">
    Q4.どのような人が参加していますか？
    </p>
      <p>
      男女とも20代～40代の方を中心に様々な方がご参加されています。<br />
      ご職業に関しては一概に「こういった傾向」とはいえませんが、男性の方は上場企業社員や公務員、有資格者、役員管理職の方、会社経営の方など、一定のお仕事と収入のある方が多い傾向にあります。<br />
      日常でまわりにいるような方々ばかりです。
      </p><br /><br />
    <p class="title">
    Q5.パソコンを持っていません。電話でも申し込みできますか？
    </p>
      <p>
      お電話でも、パーティー探しからお申し込みまでを受け付けています。<br />
      ご都合のいいお日にち、希望の形式、お相手のご要望などを伺って、合ったパーティーをお探しします。<br />
      不安や疑問に対する相談も受け付けていますので、ぜひお気軽にご連絡ください。
      </p><br /><br />
    <p class="title">
    Q6.事務局の営業時間について教えて下さい。
    </p>
      <p>
      【営業時間】 土日祝 10:00～20:00 / 火～金 15:00～20:00<br />

      メールでのお問い合わせは24時間受け付けていますので、何かわからないこと、気になることがありましたらいつでもご連絡ください。原則として1営業日程度でご回答をしています。<br />
      ※18:00以降のお問い合わせに関しては、翌営業日に順番に回答させていただきます
      </p><br /><br />
    <p class="title">
    Q7.個人情報の取り扱いについて教えて下さい。
    </p>
      <p>
      個人情報保護法やJISQ15001に準拠した適切な個人情報の取得・管理・利用をしております。また、プライバシーマークも取得しております。
      </p><br /><br />