<div class="margin">
  <br /><h2>1.参加費無料</h2>
    <p>
    まだまだ参加者が少なく、知り合いのみのイベントで、さらにパーティールームを借りるための費用も少額なので、無料という形にさせていただきました。<br />
    ただ、食べものやお酒の費用はかかってしまうため、ちょっとした気持ち(500円ほど)あるいは、お酒を適当に持参していただけると助かります。
    </p><br /><br />
  <h2>2.たくさんの施設が利用できる</h2>
    <p>
    パーティーラウンジはもちろんのこと、<br />
    挑み続けるあなたの心と身体をリフレッシュするフィットネスジムや<br />
    開放感で満たされる、二層吹抜のグランドエントランスホール、<br />
    穏やかな世界へ誘う、豊かな水を湛えるSPA、<br />煌めく東京を見晴らす、天空のVIEW LOUNGE & BAR<br />
    お客様におもてなしのひとときをオーナーズスイート〜和〜、〜シティ〜、〜リゾート〜<br />
    建物の1階に24時間営業のスーパー「マルエツ」<br />
    その他色々な施設があります。
    </p><br /><br />
  <h2>3.信頼がある人のみ招待</h2>
    <p>
    共用施設を利用してのイベント開催なので、信頼出来る友人や知り合いのみを招待させていただいております。
    </p>
</div>