.icatch {
  width: 800px;
  height: 380px;
}

.bar {
  width: 500px;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.section {
  width: 150px;
}

.title2 {
  font-size: 1.5em;
  font-weight: bold;
}

.image {
  height: 300px;
  background-repeat: no-repeat;
}

.shousai {
  width: 550px;
}

.navbar-nav {
    position: relative;
    width: 100%;
    text-align: center;
}

.participate {
  font-size: 1.5em;
  font-weight: bold;
}

.event3 {
  font-size: 1.4em;
}

.birth_date_field {
  font-size: 1.4em;
}

.attension {
  font-size: 0.8em;
}