.icatch {
  width: 100%;
}

.bar {
  width: 100%;
}

.title {
  font-size: 1.3em;
  font-weight: bold;
}

.clearfix:after {
  content: "";
  clear: both;
  display: block;
}

.section {
  width: 100%;
}

.title2 {
  font-size: 1.5em;
  font-weight: bold;
}

.image {
  height: 100%;
  background-repeat: no-repeat;
}

.shousai {
  width: 100%;
}

.navbar-nav {
    display: table;
    table-layout: fixed;
    width: 100%;
}
.navbar-nav > li {
    display: table-cell;
    width: 20%;
}

@media (max-width: 768px){
.navbar-nav > li {
    display: block;
    width: 100%;
}
}

.participate {
  font-size: 1.5em;
  font-weight: bold;
}

.event3 {
  font-size: 1.4em;
}

.birth_date_field {
  font-size: 1.4em;
}

.attension {
  font-size: 0.8em;
}

.TEL {
  float: right;
  margin-top:10px;
  margin-right:10px;
}

.margin {
  margin-left:10px;
  width: 100%;
}

.active2 {
  width: 500px;
}