<p>Hello <%= @resource.email %>!</p>

<p>Someone has requested a link to change your password. You can do this through the link below.</p>

<p><%= link_to 'パスワードの再設定', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>心当たりがなければ、このメールを無視してください</p>
<p>Your password won't change until you access the link above and create a new one.</p>
