<p class="title2">
  お申し込み
</p>
  <h2>
  スマホ・タブレット向け
  </h2>
  <span>
  <script type="text/javascript" src="//media.line.me/js/line-button.js?v=20140411"></script>
  <script type="text/javascript">
  new media_line_me.LineButton({"pc":true,"lang":"ja","type":"e"});
  </script><br />
    <p>イベント名をお伝えください！</p>
  <h2>
  PC・その他向け
  </h2>